<html>
    <head>
        <style>
        .logPass{
            text-align: left;
            background-color: #f2f4f9;
            padding: 10px 20px;
        }
        .logPass b{
            font-size: 20px;
            color: #363464;
        }
        .btnConfirm{
            direction: ltr;
            border-spacing: 0;
            border-collapse: collapse;
            display: block;
            border-radius: 3px;
            color: #ffffff;
            text-align: center;
            background-color: #00c084;
            margin: 0;
            padding: 0;
            border-color: #00c084;
            border-style: solid;
            border-width: 18px 30px;
        }
        </style>
    </head>
    <body>
       <table>
          <tbody>
            <tr>
                <td>
                    <p>Добро пожаловать в <a href="https://uinflow.com">Uinflow.com</a>!</p>
                    <p>Поздравляем вас с успешной регистрацией на сайте компании!</p>
                </td>
            </tr>
            <tr>
                <td class="logPass">
                    <p>
                        <b>Ваш логин:</b>
                        <a href="mailto:<%= login %>"><%= login %></a>
                    </p>
                    <p>
                        <img src="">
                        <b>Ваш пароль:</b><%= pass %>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <td>
                        <td>Для&nbsp;активации аккаунта, пожалуйста, <a href="http://localhost:3000/user/confirm/<%=confirm %>">подтвердите регистрацию </a>на&nbsp;сайте Uinflow.com. </td>
                    </td>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://localhost:3000/user/confirm/<%=confirm %>">Подтвердить регистрацию</a>
                </td>
            </tr>
          </tbody>
       </table>
    </body>
</html>